{% block form_field_widget %}
    {% spaceless %}
        {{ block('collection_widget') }}
    {% endspaceless %}

    <!-- TODO: include once //-->
    <script type="text/javascript" src="{{ asset('bundles/tmsformgenerator/js/formField.js') }}"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            var field = new FormField(
                $('#{{ id }}'),
                "{{ path('tms_form_generator_generate_parameters') }}",
                "{{ asset('bundles/tmswebadmintemplate/images/ajax-loader.gif') }}"
            );
        });
    </script>
{% endblock %}


{% block form_fields_widget %}
    {% spaceless %}
        {{ block('collection_widget') }}
    {% endspaceless %}

    <!-- TODO: include once //-->
    <script type="text/javascript" src="{{ asset('bundles/tmsformgenerator/js/formField.js') }}"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            var fieldManager = new FormFieldManager($('#{{ id }}'));
        });
    </script>
{% endblock %}

{% block indexed_form_fields_widget %}
    {% spaceless %}
        {{ block('form_fields_widget') }}
    {% endspaceless %}
{% endblock %}

{% block toggle_button_widget %}
    <div class="toggle_button">
        {% spaceless %}
            {{ block('choice_widget') }}
        {% endspaceless %}
    </div>

    <!-- TODO: include once //-->
    <script type="text/javascript">
        jQuery(document).ready(function() {
            $css = $('<link rel="stylesheet" type="text/css" href="{{ asset('bundles/tmsformgenerator/css/toggleButton.css') }}" />');
            $('head').append($css);
        });
    </script>
{% endblock %}

{% block html_text_row %}
    {{ form_widget(form) }}
{% endblock %}
{% block html_text_widget %}
    <div class="html_text">
        {% spaceless %}
            {{ content | raw }}
        {% endspaceless %}
    </div>
{% endblock %}

{% block sfr_repayment_mode_row %}
    {{ form_widget(form) }}
{% endblock %}
{% block sfr_repayment_mode_widget %}
    <ul>
    {% spaceless %}
        <li>{{ block('form_widget') }}</li>
    {% endspaceless %}
    </ul>
    <script type="text/javascript">
        $('document').ready(function() {
            var $form = $('#{{ id }}').closest('form');
            var $ibanField = $form.find('.{{ iban_field_class }}');
            var $repaymentModeField = $form.find('.{{ repayment_mode_field_class }}');
            var repaymentModeFieldDefaultValue = $repaymentModeField.find('input:checked').attr('value');
            $repaymentModeField.hide();

            var $sfr_repayment_mode = $('<input type="checkbox" id="sfr_repayment_mode_check" /><label for="sfr_repayment_mode_check">Je souhaite recevoir mon remboursement par lettre-chèque</label>');
            $sfr_repayment_mode.on('change', function(event) {
                var isChecked = $(this).is(':checked');
                $ibanField.find('input').each(function() {
                    $(this).prop('disabled', isChecked);
                });

                repaymentModeFieldValue = isChecked ? "{{ checked_repayment_mode_value }}" : "{{ unchecked_repayment_mode_value }}";
                $repaymentModeField.find('input[value="'+repaymentModeFieldValue+'"]').prop('checked', true);
            });
            if (repaymentModeFieldDefaultValue == "{{ checked_repayment_mode_value }}") {
                $sfr_repayment_mode.prop('checked', true);
                $ibanField.find('input').each(function() {
                    $(this).prop('disabled', true);
                });
            }

            $form.on('submit', function(event) {
                if (!$sfr_repayment_mode.is(':checked')) {
                    return true;
                }

                event.preventDefault();
                var form = $(this);
                var $modal = $('\
                    <div id="tms_confirm_action_modal" tabindex="-1" class="modal fade">\
                        <div class="modal-dialog">\
                            <div class="modal-content">\
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>\
                                <div class="content"></div>\
                                <div class="actions"></div>\
                            <div>\
                        <div>\
                    </div>\
                ');
                $modal.on('hidden.bs.modal', function () {
                    $(this).remove();
                });
                $modal.find('.modal-content .content').append("<h2>Vous avez choisi de recevoir votre remboursement par lettre-chèque.</h2>");

                var $confirmSwitch = $('<a href="#confirmSwitch">Confirmer</a>');
                $confirmSwitch.on('click', function(event) {
                    event.preventDefault();
                    form.off('submit');
                    form.submit();
                });
                $modal.find('.modal-content .actions').append($confirmSwitch);

                var $cancelSwitch = $('<a href="#cancelSwitch">Saisir mon IBAN</a>');
                $cancelSwitch.on('click', function(event) {
                    event.preventDefault();
                    $modal.modal('hide');
                    $sfr_repayment_mode.prop('checked', false);
                    $sfr_repayment_mode.change();
                });
                $modal.find('.modal-content .actions').append($cancelSwitch);

                $('body').append($modal);
                $modal.modal('show');
            });

            $repaymentModeField.after($sfr_repayment_mode);
        });
    </script>
{% endblock %}
