{% block form_field_widget %}
    {% spaceless %}
        {{ block('collection_widget') }}
    {% endspaceless %}

    <!-- TODO: include once //-->
    <script type="text/javascript" src="{{ asset('bundles/tmsformgenerator/js/formField.js') }}"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            var field = new FormField(
                $('#{{ id }}'),
                "{{ path('tms_form_generator_field_generate_options') }}",
                "{{ asset('bundles/tmswebadmintemplate/images/ajax-loader.gif') }}"
            );
        });
    </script>
{% endblock %}

{% block form_fields_widget %}
    {% spaceless %}
        {{ block('collection_widget') }}
    {% endspaceless %}

    <!-- TODO: include once //-->
    <script type="text/javascript" src="{{ asset('bundles/tmsformgenerator/js/formField.js') }}"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            var fieldManager = new FormFieldManager($('#{{ id }}'));
        });
    </script>
{% endblock %}

{% block indexed_form_fields_widget %}
    {% spaceless %}
        {{ block('form_fields_widget') }}
    {% endspaceless %}
{% endblock %}

{% block form_field_constraint_widget %}
    {% spaceless %}
        {{ block('collection_widget') }}
    {% endspaceless %}

    <!-- TODO: include once //-->
    <script type="text/javascript" src="{{ asset('bundles/tmsformgenerator/js/formFieldConstraint.js') }}"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            var constraint = new FormFieldConstraint(
                $('#{{ id }}'),
                "{{ path('tms_form_generator_constraint_generate_options') }}",
                "{{ asset('bundles/tmswebadmintemplate/images/ajax-loader.gif') }}"
            );
        });
    </script>
{% endblock %}

{% block form_field_constraints_widget %}
    {% spaceless %}
        {{ block('collection_widget') }}
    {% endspaceless %}

    <!-- TODO: include once //-->
    <script type="text/javascript" src="{{ asset('bundles/tmsformgenerator/js/formFieldConstraint.js') }}"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            var constraintManager = new FormFieldConstraintManager($('#{{ id }}'));
        });
    </script>
{% endblock %}

{% block toggle_button_widget %}
    <div class="toggle_button">
        {% spaceless %}
            {{ block('choice_widget') }}
        {% endspaceless %}
    </div>

    <!-- TODO: include once //-->
    <script type="text/javascript">
        jQuery(document).ready(function() {
            $css = $('<link rel="stylesheet" type="text/css" href="{{ asset('bundles/tmsformgenerator/css/toggleButton.css') }}" />');
            $('head').append($css);
        });
    </script>
{% endblock %}

{% block html_text_row %}
    {{ form_widget(form) }}
{% endblock %}
{% block html_text_widget %}
    <div class="html_text">
        {% spaceless %}
            {{ content | raw }}
        {% endspaceless %}
    </div>
{% endblock %}

{% block iban_widget %}
    {{ form_widget(form) }}
    <script type="text/javascript">
        $('document').ready(function() {
            var $form = $('#{{ id }}').closest('form');
            var $inputs = $form.find('input');

            getCursorPosition = function($element) {
                var element = $element.get(0);
                if ('selectionStart' in element) {
                    // Standard-compliant browsers
                    return element.selectionStart;
                } else if (document.selection) {
                    // IE
                    element.focus();
                    var sel = document.selection.createRange();
                    var selLen = document.selection.createRange().text.length;
                    sel.moveStart('character', -element.value.length);
                    return sel.text.length - selLen;
                }
            };

            $inputs.each(function() {
                $(this).on('keyup', function(event) {

                    // Skip the tab and shift keys
                    if (event.keyCode === 9 || event.keyCode === 16) {
                        return;
                    }

                    var $prev = $(this).parent().prev().children('input');
                    var $next = $(this).parent().next().children('input');
                    var maxlength = parseInt($(this).attr('maxlength'), 10);

                    // Left arrow
                    if (event.keyCode === 37) {
                        if ('undefined' !== typeof $prev.get(0) && getCursorPosition($(this)) === 0) {
                            $prev.focus();
                        }

                        return;
                    }

                    // Right arrow
                    if (event.keyCode === 39) {
                        if ('undefined' !== typeof $next.get(0) && getCursorPosition($(this)) >= maxlength) {
                            $next.focus();
                        }

                        return;
                    }

                    // Delete key
                    if (event.keyCode === 8) {
                        if (0 === $(this).val().length) {
                            if ('undefined' !== typeof $prev.get(0)) {
                                $prev.focus();
        
                                return;
                            }
                        }
                    }

                    // All the other user inputs
                    if (maxlength === $(this).val().length) {
                        if ('undefined' !== typeof $next.get(0)) {
                            $next.focus();

                            return;
                        }
                    }
                });
            });

            // Place the cursor after the default value on the first element (e.g.: after "FR") when it gets the focus
            $inputs.first().on('focus', function() {
                $(this).get(0).selectionStart = $(this).val().length;
            });
        });
    </script>
{% endblock %}

{% block sfr_repayment_mode_row %}
    {{ form_widget(form) }}
{% endblock %}
{% block sfr_repayment_mode_widget %}
    {% spaceless %}
        {{ block('form_widget') }}
    {% endspaceless %}

    <script type="text/javascript">
        $('document').ready(function() {
            var $form = $('#{{ id }}').closest('form');
            var $ibanField = $form.find('.{{ iban_field_class }}');
            var $repaymentModeField = $form.find('.{{ repayment_mode_field_class }}');
            var repaymentModeFieldDefaultValue = $repaymentModeField.find('input:checked').attr('value');
            $repaymentModeField.hide();

            var $sfr_repayment_mode = $('<input type="checkbox" id="sfr_repayment_mode_check" /><label for="sfr_repayment_mode_check">Je souhaite recevoir mon remboursement par lettre-chèque</label>');
            $sfr_repayment_mode.on('change', function(event) {
                var isChecked = $(this).is(':checked');
                $ibanField.find('input').prop('disabled', isChecked);

                if (isChecked) {
                    $ibanField.find('input').removeAttr('required');
                } else {
                    $ibanField.find('input').attr('required', 'required');
                    $ibanField.find('input:last').removeAttr('required');
                }

                repaymentModeFieldValue = isChecked ? "{{ checked_repayment_mode_value }}" : "{{ unchecked_repayment_mode_value }}";
                $repaymentModeField.find('input[value="'+repaymentModeFieldValue+'"]').prop('checked', true);
            });
            if (repaymentModeFieldDefaultValue == "{{ checked_repayment_mode_value }}") {
                $sfr_repayment_mode.prop('checked', true);
                $ibanField.find('input')
                    .prop('disabled', true)
                    .removeAttr('required')
                ;
            } else {
                $ibanField.find('input').attr('required', 'required');
                $ibanField.find('input:last').removeAttr('required');
            }

            $form.on('submit', function(event) {
                if (!$sfr_repayment_mode.is(':checked')) {
                    return true;
                }

                event.preventDefault();
                var form = $(this);
                var $modal = $('\
                    <div id="tms_confirm_action_modal" class="reveal-modal" data-reveal>\
                        <div class="modal-content">\
                            <div class="content"></div>\
                            <div class="actions"></div>\
                        <div>\
                        <a class="close-reveal-modal">&#215;</a>\
                    </div>\
                ');

                $modal.find('.modal-content .content').append("<h2>Vous avez choisi de recevoir votre remboursement par lettre-chèque.</h2>");

                var $confirmSwitch = $('<a href="#confirmSwitch" class="btn-base btn-primary btn-normal btn-touch">Confirmer</a>');
                $confirmSwitch.on('click', function(event) {
                    event.preventDefault();
                    form.off('submit');
                    form.submit();
                });
                $modal.find('.modal-content .actions').append($confirmSwitch);

                var $cancelSwitch = $('<a href="#cancelSwitch" class="btn-base btn-primary btn-normal btn-touch">Saisir mon IBAN</a>');
                $cancelSwitch.on('click', function(event) {
                    event.preventDefault();
                    // Bootstrap : $modal.modal('hide');
                    $modal.foundation('reveal', 'close');
                    $sfr_repayment_mode.prop('checked', false);
                    $sfr_repayment_mode.change();
                });
                $modal.find('.modal-content .actions').append($cancelSwitch);

                $('body').append($modal);

                // Bootstrap : $modal.modal('show');
                $modal.foundation('reveal', 'open');
                // Bootstrap : $modal.on('hidden.bs.modal', function () {
                $(document).on('closed.fndtn.reveal', '[data-reveal]', function () {
                    $(this).remove();
                });
            });

            $container = $('<ul><li></li></ul>');
            $container.find('li').append($sfr_repayment_mode);
            $repaymentModeField.after($container)
        });
    </script>
{% endblock %}

